$primary: #e92569;
$background-color: #efefef;
$black-color: #0a0a0a;
$gray-color: #767676;

body {
  background: radial-gradient(#ffffff, #e5e5e5) !important;
  font-family: "Lato", sans-serif !important;
}

.navbar-brand,
h1 {
  color: $primary;
  font-family: "Playfair Display", serif !important;
}

//  font-family: 'Lato', sans-serif; //
