$primary: #e92569;
$secondary-color: #e5e5e5;
$background-color: #efefef;
$black-color: #0a0a0a;
.navbar-brand,
h1,
h2 {
  color: $primary;
  font-family: "Playfair Display", serif;
}

body {
  background: radial-gradient(#ffffff, #e5e5e5);
  font-family: "Lato", sans-serif;
}

//  font-family: 'Lato', sans-serif; //
