.carousel-indicators {
  .indicators {
    height: 27px !important;
    margin: 0 10px !important;
    opacity: 1 !important;
    border: none !important;
  }
  .active {
    background-color: $primary !important;
  }
}

.accordion {
  .accordion-button {
    color: $primary;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    box-shadow: none;
    border-bottom: none;
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-button:not(.collapsed) {
    background-color: white;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-body {
    border-top: 1px solid $primary;
  }
}
.tab-content {
  .tab-pane {
    background-color: white;
  }
  .tab-text {
    margin-bottom: 15%;
  }
}
