nav {
  background-color: $background-color;
  & .navbar-brand {
    font-style: italic;
    padding-left: 5px;
  }
  & .active {
    background-color: white;
  }
  & .form-control {
    border-radius: 0px;
    border: none;
  }
  & .nav-link {
    color: black;
    padding: 6px 0;
  }
  & .btn {
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 0px;
  }
  & .navbar-toggler:focus {
    box-shadow: none;
  }
}
